

<div class="header">
    <h1>Vaccine Donation Camp</h1>
    <p>We are here.</p>
</div>

<div class="topnav">
    <a href="Patient">Patient List</a>
    <a href="Patient/Add">Add Patient</a>
    <a href="#">Appoinment</a>
    <a href="#">Healthcare Workers</a>
    <div class="border-light" style="float:right">
        <partial name="_LoginPartial" />

    </div>
</div>


<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Vaccine Donation Started</h2>
            <h5> Dec 7, 2020</h5>
            <div class="fakeimg">
            <img src="~/lib/vaccine.jpg" style="height: 200px;"class="fakeimg">
            </div>
            <h2>COVID Vaccine Information</h2>

            <p style="font-family:Wingdings; font-size:20px">
                

                In collaboration with Lawrence Douglas County Public Health (LDCPH), LMH Health will be rolling out the COVID-19 vaccine in a phased approach as guided by the Kansas Department of Health and Environment (KDHE).
            </p>

            <p style="font-family:Wingdings; font-size:20px">Because COVID-19 is a new disease with new vaccines, you may have questions about what happens before, during, and after your appointment to get vaccinated. These tips will help you know what to expect when you get vaccinated, what information your provider will give you, and resources you can use to monitor your health after you are vaccinated.</p>
        </div>
        <div class="card">
            <div class="fakeimg">
                <img src="~/lib/handHealth.jpg" style="height: 200px;" class="fakeimg">
            </div>
            @*<div class="fakeimg" style="height:200px;">Image</div>*@

        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Us</h2>
            @*<div class="fakeimg" style="height:100px;">*@<img src="~/lib/health.jpg"  class="fakeimg"></div>
       <h3>Address</h3>
       <p style="font-family:Wingdings; font-size:20px"><a href="#"> 2405 Alabama St 2405 Alabama St, Lawrence, KS 66046</a></p>
       <div class="mapouter"><div class="gmap_canvas"><iframe width="331" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%202405%20Alabama%20St%202405%20Alabama%20St,%20Lawrence,%20KS%2066046&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br>
       <style>
           .mapouter {
               position: relative;
               text-align: right;
               height: 500px;
               width: 331px;
           }
       </style><a href="https://www.embedgooglemap.net">google map on web site</a>
       <style>
           .gmap_canvas {
               overflow: hidden;
               background: none !important;
               height: 500px;
               width: 300px;
           }
       </style></div></div>
        </div>
        <div class="card">
        <p style="font-family:Wingdings; font-size:20px">It’s important for everyone to continue using all the tools available to help stop this pandemic as we learn more about how COVID-19 vaccines work in real-world conditions. Cover your mouth and nose with a mask when around others, stay at least 6 feet away from others, avoid crowds, and wash your hands often.</p>
        @*<h3></h3>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
        </div>*@
        @*<div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
        </div>*@
    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>