@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "About The Vaccine";
}
<h1>@ViewData["Title"]</h1>

<br><br>

<h5>The Centers for Disease Control and Prevention's Advisory Committee on Immunization Practices has identified the purpose of the COVID-19 vaccine:</h5>
<br><br>
<ul>
    <li>
   Decrease death and serious disease
        </li>
  <li>  Increase the chance for everyone to enjoy health and well-being</li>
    <li>Preserve the functioning of society</li>
    <li>Reduce the extra burden on people already facing disparities</li>
    
    </ul><br><br>


<h5>Dosing</h5>
<p>There are currently two vaccines approved by the U.S. Food and Drug Administration under Emergency Use Authorization.</p>
<p> One requires a booster at 21 days and the other at 28 days.</p><br>

<p>Recipients must receive the same vaccine for both the first and second doses. <p>
<p>Your vaccination provider will give you a card with the manufacturer's name and other critical information you will need for a second dose. If you miss your second dose, 
please get it as soon as possible after the 21- or 28-day recommendation. Learn more about the benefits of getting vaccinated and what to expect during your vaccination appointment.<p>
    <br><br>

    <h5>Ethics & Availability</h5>

    While the vaccine supply is limited, it will be made available based on ethical principles of maximizing benefits,
    minimizing harm, striving for equity, justice and fairness, and making transparent decisions. Kansans who have been
    disproportionately impacted by the COVID-19 pandemic will be prioritized. Additionally, the state of Kansas is vetting
    vaccine providers before they receive an allotment of vaccines<</pre>>
