@{
    ViewData["Title"] = "Vaccination Policy";
}
<h1>@ViewData["Title"]</h1>
<br><br>

<p>What you need to know today:</p>

<p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    If you are a Douglas County resident and interested in receiving COVID-19 vaccination, please fill out this Douglas County Vaccine Interest Form at dgcoks.org/vaccinationinterestform.

    Tips for completing the form:

    If you have already submitted the form, you do not need to submit it again.
    It is best to complete the form from a computer instead of a smart phone or tablet. If you use a mobile device, fill out the birthdate by clicking on day of month and then click on the year at top. This will give you a scroll bar to select month and year.

    Unfortunately, the County does not have the bandwidth to confirm receipt of the form. You will receive a message on the screen following successful submission that says: "Great! Your information was sent successfully. You will be contacted when vaccinations become available. Thank you." The message will include a green check mark (see associated image). If you do not fill it out correctly, you will receive a message in red that says "survey contains errors."

    One form needs to be filled out for each individual in a household or family.
    Please include an email or phone number, so you can be contacted.

    About the form:

    This form allows residents to indicate their interest in receiving the vaccine and will help the Unified Command Vaccination Unit determine which phase they may qualify for.
    The form will also help providers notify individuals when vaccine becomes available with instructions on how to schedule an appointment. Agencies that are providing vaccinations will use these forms to verify registration and appointments.
    If residents need assistance filling out the form and do not have Internet access, contact the Senior Resource Center of Douglas County at 785-842-0543. Staff will return calls during business hours as quickly as they can in the order calls are received.
</p>