<h1>Delete Patient</h1>

@*<form method="post" action="">
    @foreach (var peti in ViewBag.Patients)
        {
            <div class="form-group">
                <label>
                    <span>@peti.FirstName @peti.LastName</span>
                    <input type="checkbox" name="PatientIds" value="@peti.Id" class="form-control">
                </label>
            </div>
        }*@
    @*<form method="post" action="/Patient/Index">
        <input type="hidden" name="PatientIds" value="@ViewBag.patientIds" />
        
    </form>*@
    @*<input type="submit" value="Delete Selected Patient" class="btn btn-danger">*@

@*</form>*@
